<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebMail-JS</title>

    <!-- Fichers CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WebMail-JS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
           
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
      	<div class="col-sm-12">
      		<div class="page-header">
		        <h1>Bienvenue sur WebMail-JS</h1>
		      </div>
      	</div>			
      </div>
      <div class="row">
      	<div class="col-sm-12">
      		<div class="jumbotron">
      			<p class="text-center"><a href="/auth/google" class="btn btn-danger">Authentifiez-vous avec google +</a></p>
      		</div>
      	</div>			
      </div>
      
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Webmail-JS.</p>
      </div>
    </footer>

    <!-- Fichers JS
    ================================================== -->
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
  </body>
</html>
